<sounds></sounds>

<div>
    <div class="what-is-forgot-game-container"
         style="background-image: {{wf.picture}}">
        <div class="what-is-forgot-elem animate-show"
             style="background-image: {{wf.items}};
                    background-position: {{item}}"
             ng-repeat="item in wf.itemsPositions track by $index"
             ng-show="wf.itemsIndexesToShow[$index]">
        </div>
    </div>

    <div style="text-align: center" ng-if="!wf.finished">
        <div class="what-is-forgot-variant"
             style="background-image: {{wf.itemsToChoose}};
                    background-position: {{item}}"
             ng-repeat="item in wf.itemsToChoosePositionsRand"
             ng-click="wf.checkAnswer(item)"></div>
    </div>
    <h1 ng-if="wf.finished"
        style="text-align: center;
               color: #FDC30B;
               font-size: 7em;">{{winnerText}}</h1>
</div>