<sounds></sounds>

<div class="find-the-half-game" ng-if="!fh.finished">
    <div class="find-the-half-single-img"
         style="background-image: {{fh.picture}};
                background-position: {{half}};
                -webkit-transform:{{fh.degrees[$index]}};
                -moz-transform: {{fh.degrees[$index]}};
                -ms-transform: {{fh.degrees[$index]}};
                transform: {{fh.degrees[$index]}};"
         ng-repeat="half in fh.randPositions"></div>
</div>
<cup ng-if="fh.finished"></cup>

<div class="find-the-half-answers-container">
    <div style="background-image: {{fh.picture}};
                background-position: {{answer}}"
         ng-repeat="answer in fh.answersPositions"></div>
</div>