<sounds></sounds><div style="text-align: center"><div class="noised-pictures-items-container"><div class="noised-pictures-item" ng-class="np.foundPicsArr[$index]" ng-repeat="item in np.noisedPicPositions track by $index" style="background-image: {{np.noisedPicture}};
                    background-position: {{item}}"></div></div><div ng-if="!np.finished"><div class="noised-pictures-pics" ng-repeat="item in np.picPositions" style="background-image: {{np.picture}};
                    background-position: {{item}}" ng-click="np.checkAnswer(item)"></div></div><h1 ng-if="np.finished" style="text-align: center;
               color: #FDC30B;
               font-size: 7em">{{winnerText}}</h1></div>