<div id="donates" class="container-fluid">

    <h1>Помощь проекту</h1>

    <p>
        Наш сайт ничего не продает и ничего не рекламирует. Соответственно он не приносит прибыли.
        Если вам нравится этот сайт, и вы хотите нас материально поддержать, вы можете перевести любую сумму нам на счёт:
    </p>

    <ul>
        <li><span>Банковская карта: </span>5168757306344039</li>
        <li><span>WMR: </span>R414523885661</li>
        <li><span>WMZ: </span>Z248645822930</li>
        <li><span>WMU: </span>U387152298633</li>
        <li><span>WME: </span>E321709590436</li>
    </ul>

</div>