<nav id="main-menu-navbar-container" role="navigation">

    <div id="logo" class="col-lg-2 col-md-2">
        <div></div>
    </div>

    <div class="col-lg-10 col-md-10">

        <div id="headerText" ng-click="nav.showMobileMenu()">Детские развивающие игры</div>

        <div id="mainMenuMobileItems" ng-if="nav.showMobileItems">
            <a href="#{{item.link}}" ng-repeat="item in nav.items" ng-click="nav.showMobileMenu()">
                <div style="background-color: {{item.color}};
                            box-shadow: 0 0 10px {{item.color}};">
                    {{item.name}}
                </div>
            </a>
        </div>

        <div id="main-menu">
            <a href="#{{item.link}}" ng-repeat="item in nav.items">
                <div style="background-position: 0px {{-$index*50 + 'px'}}">
                    {{item.name}}
                </div>
            </a>
        </div>

    </div>

</nav>